.rate-area {
    float: left;
    border-style: none;
  }
  .rate-area:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
  }
  .rate-area:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 150%;
    line-height: 1.2;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  .rate-area:not(:checked) > label:before { content: '★ '; }
  .rate-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
    font-size: 150% ;
  }
  .rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold; }
  .rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
  }
  .rate-area > label:active {
    position: relative;
    top: 2px;
    left: 2px;
  }







input[type=radio], input[type=checkbox] {
    display: none;
}
input[type=radio]+ label, input[type=checkbox] + label {
    padding-left: 35px;
    padding-top: 2px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
}
input[type=radio]:checked + label, input[type=checkbox]:checked + label {
    background-position: 0 -30px;
}
input[type=radio] + label {
    padding-bottom:2px;
    background-image: url(http://cis.kitoit.com/layouts/images/radio.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// button style

body{
    padding: 20% 30%;
  }
  
  button{
    outline:0;
    padding:10px 20px;
    font-size:18px;
    background-color:#00bd9c;
    color:#fff;
    //border:3px solid #4A6D8B;
    border:0;
    cursor:pointer;
    height:45px;
    width:150px;
    box-shadow:0 2px 0 0 rgba(0,0,0,0.3);
    transition:all 0.3s ease;
    &:hover{
      border-color:darken(#4A6D8B, 7%);
    }
  }
  
  .mb-3{
      text-align:center;
  }